
body {
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  color: #111;
   background-image: url("http://1.bp.blogspot.com/_W6PdCSPYbOM/TBAOi-mfW2I/AAAAAAAABNI/sXOOLguJI80/s1600/Alpe+d+Huez+2007+2.jpg"); 
   background-size: cover;
   background-repeat: no-repeat;
}

.info{
  color: #990;
}
h1 {
  font-size: 3.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.title, #footer {

  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.subtitle {
   font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.asterix {
   font-size: 1.4em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.legend {
  font-size: 1em;
}

circle {
  stroke: rgb(204, 204, 204);
  stroke-width: 1px;
  cursor: pointer;
}

circle:hover {
  stroke: black;
}

.tooltip {
  margin: 0 auto;
  position: absolute;
  pointer-events: pointer;
  width: 220px;
  line-height: 1.2;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 1.2em;
}


#container {
  margin: 30px auto;
  padding: 0px;
  width: 800px;
  height: 600px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32)
}

svg {
  background-color: #fff;
  opacity: .8;
}

.axis text {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

span.good{
  color: green;
}

span.nogood{
  color: red;
}

#footer{
 text-align: left; 
 position: relative;
 bottom: 0;
 font-size: 1.2em;
 background: ;
 display: block;
  color:#bbb;
text-shadow: 2px 2px 4px;
}

